h1{
    color: #fd7200;
    font-weight: bolder;
}
.task-manager {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #ffc89c;
  border: 1px solid #fd7200;
  border-radius: 10px;
}

input {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border-color: #fd7200;
}

button {
  margin-top: 20px;
  margin-left: 280px;
  padding: 10px 15px;
  color: #ffffff;
  font-weight: bolder;
  background-color: #18b613;
  border-color: #ffffff;
}
#taskList {
    margin: 40px auto;
    padding: 20px;
    border:solid 2px #fd7200;
    color:#18b613 ;
    background-color: rgb(255, 255, 255);
    font-weight: bolder;
}

